<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%> | Your Game Pile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- adds fonts from google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Exo+2:400,800,900italic' rel='stylesheet' type='text/css'>
  <!-- sets the viewport size of a mobile device to the real size of the device -->
  <code><meta name="viewport" 
    content="width=device-width"></code>
</head>
<body>
   
<div id="nav">
  <%= render "layouts/nav" %>
</div>

<div class="clear"></div>

<div id="content">
  <%= yield %>
</div>

  <div class="container">
     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
  </div>
  
  
</body>
</html>
